@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
}
.purchase {
    width: 100%;
    height: 244px;
    @media (max-width: 1170px) {
        height: 100%;
    }
    background-color: #141414;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
    @media (max-width: 1170px) {
        grid-template-columns: 1fr 1fr;      
    }
    @media (max-width: 870px) {
        grid-template-columns: 1fr;  
    }
    grid-template-rows: auto;
    grid-template-areas: 
                        "purchase-item1 purchase-item2 purchase-item3 purchase-item4";
                        @media (max-width: 1170px) {
                            grid-template-areas: 
                        "purchase-item1 purchase-item2" 
                        "purchase-item3 purchase-item4";                            
                        }
                        @media (max-width: 870px) {
                            grid-template-areas: 
                        "purchase-item1"
                        "purchase-item2" 
                        "purchase-item3"
                        "purchase-item4";  
                        }
    column-gap: 0.5px;
    @media (max-width: 1170px) {
                row-gap: 0.5px;
            }
        .purchase-item1 {
            grid-area: purchase-item1;
            padding-left: 60px;
            @media (max-width: 1170px) {
                padding-left: 0;
            }
        }
        .purchase-item2 {
            grid-area: purchase-item2;
        }
        .purchase-item3 {
            grid-area: purchase-item3;
        }
        .purchase-item4 {
            grid-area: purchase-item4;
            padding-right: 60px;
            @media (max-width: 1170px) {
                padding-left: 0;
            }
        }
        .purchase-item {
            background-color: $background-black;
            display: flex;
            flex-direction: column;
            @media (max-width: 870px) {
                flex-direction: row;
            }
            padding-top: 40px;
            i {
                font-size: 40px;
                @media (max-width: 870px) {
                    font-size: 30px;
                }
                padding-left: 40px;
                @media (max-width: 870px) {
                    padding-left: 25px;
                }
                padding-bottom: 20px;
            }
            .purchase-item__link {
                font-family: Montserrat;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: .1rem;
                color: white;
                padding-left: 40px;
                padding-bottom: 20px;
                display: flex;
                flex-wrap: nowrap;
            }
            .purchase-item__link_hover:hover {
                transition-duration: 0.5s;
                border-bottom: 1px solid white;
            }
            .purchase-item__description {
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 100;
                color: white;
                padding-left: 40px;
                padding-bottom: 20px;
                @media (max-width: 870px) {
                    display: none;
                }
            }
            .fa-angle-right {
                font-size: 15px;
                padding-left: 0;
                padding-right: 10px;
            }
        }
}